.idea/
node_modules/
temp/
platforms/
platforms/ios
platforms/android
plugins/
www/build/
www/index.html
www/assets
*.DS_Store
*.log
*.swp
.io-config.json
package-lock.json
yarn.lock
.sourcemaps
**/environment.*
!**/environment.model.ts