login {
    .login-content{
        background : url('../assets/img/login-bg.jpg') center center no-repeat;
        background-size: cover;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right,#000000,#ffffff);
            opacity: .4; 
          }
    }

    .login-box{
        width: 450px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
        background:#0A192A;
        border-radius:0.4em;
        border:1px solid #0A192A;
        overflow:hidden;
        box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);        
    }
}