<ion-grid>
  <ion-row>

    <!-- Quantity -->
    <ion-col col-md-4>
      <ion-item item-content>
        <ion-label color="primary" stacked>Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="item.quantity" (change)="addQuantity(item)">
        </ion-input>
      </ion-item>
    </ion-col>

    <!-- Price -->
    <ion-col col-md-4>
      <ion-item item-content>
        <ion-label color="primary" stacked>Price
          <small *ngIf="item.priceBook && item.priceBook.isTaxIncl">({{item.tax.rate}}% Tax Incl.)</small>
        </ion-label>
        <ion-input type="text" [disabled]="item.quantity < 0" [(ngModel)]="item.finalPrice" (change)="updatePrice(item)">
        </ion-input>
      </ion-item>
    </ion-col>

    <!-- Discount -->
    <ion-col col-md-4>
      <ion-item item-content>
        <ion-label color="primary" stacked>Discount(%)</ion-label>
        <ion-input type="number" [disabled]="item.quantity < 0" [ngModel]="item.discount" min="0" max="99" (ngModelChange)="item.discount = $event"
          (change)="calculateDiscount(item)"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col col-md-12>
      <ion-item item-content>
        <ion-label color="primary" stacked>Notes</ion-label>
        <ion-textarea [(ngModel)]="item.notes" placeholder="Type to add notes...">
        </ion-textarea>
      </ion-item>
    </ion-col>

    <ion-col col-md-12 *ngIf="settings.trackStaff">
      <ion-list>
        <ion-item>
          <ion-label>Switch Staff</ion-label>
        </ion-item>
      </ion-list>
      <ion-list radio-group [(ngModel)]="item.employeeId" class="scrollable-component">
        <ion-item *ngFor="let employee of employeeHash | keys">
          <ion-label>{{employee.value.firstName}}</ion-label>
          <ion-radio [disabled]="employee.value.disabled" [value]="employee.value._id" [checked]="employee.value._id == item.employeeId"></ion-radio>
        </ion-item>
      
      </ion-list>
    </ion-col>

  </ion-row>
</ion-grid>