@import '../../theme/variables';
.basket {
  background-color: $basket-background-color;
  .name {
    overflow:hidden; 
    white-space:normal; 
    font-weight: 500;
  }
}

.action-buttons {
  height: 65px;
}

.top-component {
  overflow-y: auto;
  height: calc(100% - 383px);
}

.bottom-component {
  width: 100%;
  height: 318px;
  position: relative;
  ion-row {
    height: 100%;
  }
}

.pay-button {
  padding-bottom: 0px;
  height: 40px;
  font-size: large;
}

.pay-button > span{
  text-align: left;
}

.pay {
  background-color: color($colors, primary)
}

.return {
  background-color: color($colors, danger);
}

#park-sale {
  @extend .link;
  margin-right: 2em;
}

.group-item {
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: $staff-group-border-color;
  margin-bottom: 3px;
}

.group-item-start {
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: $staff-group-border-color;
}

.group-item-mid {
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: $staff-group-border-color;
}

.group-item-end {
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: $staff-group-border-color;
  margin-bottom: 3px;
}

.customer-container {
  position: relative;
}

ion-searchbar.searchbar-md {
  background: inherit;
  padding: 0px 0px 8px 0px;
}

ion-list.search-list {
  position: absolute;
  z-index: 1;
  top: 47px;
  width: 96.5%;
  transform: translateX(-50%);
  left: 49.9%;
  background-color: $tile-background-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.list-md {
  margin: 0px;
}

ion-list.search-list>ion-item {
  background-color: $tile-background-color;
}

ion-item.item-md.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 0px;
}