<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="leftMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="ion-title-center">Settings</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        Save
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <ion-list-header>
      Account Settings
    </ion-list-header>
    <ion-item>
      <ion-label class="item-name">Name</ion-label>
      <ion-input type="text" [(ngModel)]="accountSetting.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Sale Number Prefix</ion-label>
      <ion-input type="text" [(ngModel)]="accountSetting.saleNumberPrefix" name="saleNumberPrefix"></ion-input>
    </ion-item>    
    <ion-item>
      <ion-label class="item-name">Closure Number Prefix</ion-label>
      <ion-input type="text" [(ngModel)]="accountSetting.closureNumberPrefix" name="saleNumberPrefix"></ion-input>
    </ion-item>        
    <ion-item>
      <ion-label class="item-name">Receipt Footer Message</ion-label>
      <ion-textarea type="text" [(ngModel)]="accountSetting.receiptFooterMessage"></ion-textarea>
    </ion-item>
    <ion-item>
      <searchable-ion-select
        name="timeOffset" 
        [(ngModel)]="accountSetting.timeOffset"
        title="Time Offset"
        valueField="code"
        textField="name"
        [items]="timezones">
      </searchable-ion-select>
    </ion-item>
  </ion-list>

  <ion-list inset>
    <ion-list-header>
      Tax Settings
    </ion-list-header>
    <ion-item>
      <ion-label class="item-name">Tax Default</ion-label>
      <ion-select [(ngModel)]="selectedTax" name="salesTax">
        <ion-option [value]="tax._id" *ngFor="let tax of salesTaxes">{{ tax.entityTypeName == 'GroupSaleTax' ? 'Group Tax - ' + tax.name : tax.name }}
          <small>({{ tax.rate }}%)</small>
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Tax Type</ion-label>
      <ion-select [(ngModel)]="selectedType" name="taxType">
        <ion-option [value]="type._id" *ngFor="let type of taxTypes">{{type.type}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list inset>
    <ion-list-header>
      Employee Settings
    </ion-list-header>
    <ion-item>
      <ion-label class="item-name">Track Employee Sales</ion-label>
      <ion-toggle [(ngModel)]="accountSetting.trackEmployeeSales" name="trackEmployeeSales"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list inset>
    <ion-list-header>
      App Settings
    </ion-list-header>
    <ion-item>
      <ion-label class="item-name">Keep Screen Turned-ON</ion-label>
      <ion-toggle [(ngModel)]="accountSetting.screenAwake" name="screenAwake"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>