<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Service</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="saveService()">
        save
      </button>
      <button ion-button icon-only>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item>
      <ion-label class="item-name">Name</ion-label>
      <ion-input type="text" [(ngModel)]="serviceItem.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Barcode</ion-label>
      <ion-input type="text" [(ngModel)]="serviceItem.barcode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Display Order</ion-label>
      <ion-input type="number" [(ngModel)]="serviceItem.order"></ion-input>
    </ion-item>      
    <ion-item>
      <ion-label>Categories</ion-label>
      <ion-select [(ngModel)]="serviceItem.categoryIDs" multiple="true">
        <ion-option *ngFor="let item of categories ; let idx=index" value={{item._id}}>{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button ion-button (click)="selectIcon()">Select Icon</button>
      <span *ngIf="selectedIcon"><sp-icon [icon]="serviceItem.icon.name"></sp-icon>&nbsp;{{ serviceItem.icon.name }}</span>
    </ion-item>
  </ion-list>

  <!-- Default Price Book  -->
  <ion-grid>
    <ion-row>
      <ion-col col-md-12 class="pull-left">
        <h3>Default Price Book</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>Supply price</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.supplyPrice" (change)="calculate('supplyPrice', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>x Markup (%)</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.markup" (change)="calculate('markup', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>= Retail Price (Excl.)</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.retailPrice" (change)="calculate('retailPrice', defaultPriceBook)"
            required></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-3>
        <ion-item item-content>
          <ion-label color="primary" stacked>+ Sales Tax</ion-label>
          <ion-select [(ngModel)]="defaultPriceBook.tax" (ionChange)="calculate('salesTax', defaultPriceBook)">
            <ion-option [value]="tax" *ngFor="let tax of salesTaxes">{{ tax.entityTypeName == 'GroupSaleTax' ? 'Group Tax - ' + tax.name : tax.name }} <small>({{ tax.rate }}%)</small></ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>= Retail Price (Incl.)</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.inclusivePrice" (change)="calculate('inclusivePrice', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>