<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons end network-monitor></ion-buttons>
    <ion-title class="ion-title-center">Payment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="sale">
  <ion-grid class="full-height">
    <ion-row class="full-height">

      <!-- Sales Summary :start: -->
      <ion-col col-md-5>

        <ion-grid>
          <ion-row>
            <ion-col col-md-12>
              <h3 text-center>Sales Summary</h3>
            </ion-col>
            <hr/>

            <ion-col col-md-12 text-left>
              <span>{{sale.items.length}} item(s)</span>
            </ion-col>

            <ion-col col-md-12>
              <ion-list>
                <ion-item *ngFor="let item of sale.items">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-md-1>{{item.quantity}}</ion-col>
                      <ion-col col-md-4>{{item.name}}</ion-col>
                      <ion-col col-md-4 offset-md-3 class="pull-right">${{item.finalPrice * item.quantity | number : '1.2-2'}}</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-list>

              <hr/>
              <ion-grid>
                <ion-row>

                  <ion-col col-md-4>Sub-total</ion-col>
                  <ion-col col-md-4 offset-md-4 class="pull-right">${{sale.subTotal | number : '1.2-2'}}</ion-col>
                  <ion-col col-md-4>Total Tax (GST)</ion-col>
                  <ion-col col-md-4 offset-md-4 class="pull-right">${{sale.taxTotal - sale.subTotal | number : '1.2-2'}}</ion-col>
                </ion-row>
              </ion-grid>

              <hr/>
              <ion-grid>
                <ion-row>
                  <ion-col col-md-4>Total</ion-col>
                  <ion-col col-md-4 offset-md-4 class="pull-right">${{sale.taxTotal | number : '1.2-2'}}</ion-col>
                </ion-row>
              </ion-grid>

              <ion-list *ngIf="sale.payments && sale.payments.length > 0">
                <ion-item *ngFor="let payment of sale.payments">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-md-4>Payment ({{payTypes[payment.type].text}})</ion-col>
                      <ion-col col-md-4 offset-md-4 class="pull-right">${{payment.amount | number : '1.2-2'}}</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-list>

              <ion-grid *ngIf="change > 0">
                <ion-row>
                  <ion-col col-md-4>Change</ion-col>
                  <ion-col col-md-4 offset-md-4 class="pull-right">${{change | number : '1.2-2'}}</ion-col>
                </ion-row>
              </ion-grid>

              <hr/>
              <ion-grid>
                <ion-row>
                  <ion-col col-md-4>
                    <h1>Balance</h1>
                  </ion-col>
                  <ion-col col-md-4 offset-md-4 class="pull-right">
                    <h1>${{amount | number : '1.2-2'}}</h1>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-col>
      <!-- Sales Summary :end: -->

      <!-- Payment :start: -->
      <ion-col col-md-7>
        <ion-grid *ngIf="!sale.completed">
          <ion-row>
            <ion-col col-md-3>
              <h2>{{ doRefund ? 'Return' : 'Pay' }}</h2>
            </ion-col>
            <ion-col col-md-3 offset-md-6>
              <span text-right>
                <a class="link-payment" href="#" (click)="goBack()"><ion-icon name="arrow-round-back"></ion-icon> Back to Sale</a>
              </span>
              <br/>
              <ion-list>
                <ion-item>
                  <ion-input clearInput [disabled]="doRefund" [ngModel]="amount" min="1" (ngModelChange)="amount = $event"></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>

            <ion-col col-md-4>
              <button ion-button color="secondary" [ngClass]="{ 'pay': !doRefund, 'return': doRefund }" large block (click)="payWithCash()" [disabled]="(sale.completed && !doRefund) || stockErrors.length > 0">Cash</button>
            </ion-col>
            <ion-col col-md-4>
              <button ion-button color="secondary" [ngClass]="{ 'pay': !doRefund, 'return': doRefund }" large block (click)="payWithCard()" [disabled]="(sale.completed && !doRefund) || stockErrors.length > 0">Credit Card</button>
            </ion-col>
            <ion-col col-md-4>
              <button ion-button color="secondary" [ngClass]="{ 'pay': !doRefund, 'return': doRefund }" large block disabled>Gift Card</button>
            </ion-col>

          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-md-12 text-center *ngIf="sale.completed && !doRefund">
              <h1>
                <ion-icon name="checkmark-circle-outline"></ion-icon> Payment Complete</h1>
              <h5 *ngIf="change > 0">Issue change of ${{change | number : '1.2-2'}}</h5>
            </ion-col>
            <ion-col col-md-12 text-center *ngIf="sale.completed && doRefund">
              <h1>
                <ion-icon name="checkmark-circle-outline"></ion-icon> Refund Complete</h1>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngIf="sale.completed && stockErrors.length == 0">
          <ion-row>
            <ion-col col-md-12>

              <ion-grid>
                <ion-row>
                  <ion-col col-md-3></ion-col>
                  <ion-col col-md-6 class="content-center">
                    <a href="#" (click)="printSale(true)">
                      <ion-icon name="print" class="link-payment"></ion-icon> Print Recipt</a>&nbsp;
                    <a href="#">
                      <ion-icon name="cube" class="link-payment-payment"></ion-icon> Gift Recipt</a>
                  </ion-col>
                  <ion-col col-md-3></ion-col>
                </ion-row>
              </ion-grid>

            </ion-col>

            <ion-col col-md-12>

              <ion-grid>
                <ion-row>
                  <ion-col col-md-9>
                    <ion-input clearInput placeholder="Enter email..."></ion-input>
                  </ion-col>
                  <ion-col col-md-3>
                    <button ion-button color="secondary">Email Recipt</button>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-col>

            <ion-col col-md-12>
              <button ion-button color="secondary" block large (click)="clearSale()">Done</button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
      <!-- Payment :end: -->

    </ion-row>
  </ion-grid>
</ion-content>