<ion-menu [content]="content" side="right" id="rightMenu">
    <ion-content>
        <ion-list>
          <button menuClose ion-item (click)="openCashDrawer(p)" large>
            <ion-icon name='cash' item-left></ion-icon>
            <label padding-left item-left>Open Cash Drawer</label>
          </button>
        </ion-list>
      </ion-content>
  </ion-menu>
  
<ion-split-pane [when]=(currentModule.pinTheMenu)>

  <ion-menu [content]="content" side="left" id="leftMenu" enable-menu-with-back-views="true" style="width: 180px">

    <ion-header *ngIf="moduleName == 'BackOfficeModule'">
      <ion-toolbar>
        <ion-title>Simple Cuts</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-header *ngIf="moduleName == 'SettingsModule'">
      <ion-toolbar>
        <ion-title>Settings</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-header *ngIf="moduleName == 'SalesTaxModule'">
      <ion-toolbar>
        <ion-title>Sales Tax</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-header *ngIf="moduleName == 'InventoryModule'">
      <ion-toolbar>
        <ion-title>Inventory</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-header *ngIf="moduleName == 'SalesModule'">
      <ion-toolbar *ngIf="currentPos && currentStore">
        <ion-title>{{currentStore.name}}</ion-title>
        <ion-title>
          <small>{{currentPos.name}}</small>
        </ion-title>
        <ion-title>
          <small>
            <button ion-button full small color="primary" (click)="switchRegister()">Switch</button>
          </small>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of currentModule.pages" (click)="openPage(p)" large>
          <ion-icon name='{{p.icon}}' item-left></ion-icon>
          <label padding-left item-left>{{p.title}}</label>
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="true"></ion-nav>
</ion-split-pane>