<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Store</ion-title>
    <ion-buttons end>
      <button type="submit" ion-button icon-only (click)="storeForm.ngSubmit.emit()" [disabled]="!storeForm.form.valid">
        Save
      </button>
      <button *ngIf="action == 'Edit'" ion-button icon-only (click)="remove()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #storeForm="ngForm">
    <ion-list-header>Details</ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label class="item-name">Store Name*</ion-label>
        <ion-input type="text" [(ngModel)]="item.name" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Order Number Prefix</ion-label>
        <ion-input type="text" [(ngModel)]="item.orderNumPrefix" name="orderNumPrefix"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Order Number</ion-label>
        <ion-input type="text" [(ngModel)]="item.orderNum" name="orderNum"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Supplier Return Prefix</ion-label>
        <ion-input type="text" [(ngModel)]="item.supplierReturnPrefix" name="supplierReturnPrefix"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Supplier Return Number</ion-label>
        <ion-input type="text" [(ngModel)]="item.supplierReturnNum" name="supplierReturnNum"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Printer IP</ion-label>
        <ion-input type="text" [(ngModel)]="item.printerIP" name="printerIP"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Printer Port</ion-label>
        <ion-input type="number" [(ngModel)]="item.printerPort" name="printerPort"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Printer At End of Sale</ion-label>
        <ion-toggle [(ngModel)]="item.printReceiptAtEndOfSale" name="printReceiptAtEndOfSale"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Tax File Number</ion-label>
        <ion-input type="number" [(ngModel)]="item.taxFileNumber" name="taxFileNumber"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list-header>Physical Address and Contact Details</ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label class="item-name">Street</ion-label>
        <ion-input type="text" [(ngModel)]="item.street" name="street"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Suburb</ion-label>
        <ion-input type="text" [(ngModel)]="item.suburb" name="suburb"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">City</ion-label>
        <ion-input type="text" [(ngModel)]="item.city" name="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Postcode</ion-label>
        <ion-input type="text" [(ngModel)]="item.postCode" name="postCode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">State</ion-label>
        <ion-input type="text" [(ngModel)]="item.state" name="state"></ion-input>
      </ion-item>
      <ion-item>
        <searchable-ion-select name="country" [(ngModel)]="item.country" title="Country" valueField="code" textField="name" [items]="countries">
        </searchable-ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Timezone</ion-label>
        <ion-input type="text" [(ngModel)]="item.timezone" name="timezone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Email</ion-label>
        <ion-input type="text" [(ngModel)]="item.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Phone</ion-label>
        <ion-input type="text" [(ngModel)]="item.phone" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Twitter</ion-label>
        <ion-input type="text" [(ngModel)]="item.twitter" name="twitter"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <ion-content>
    <ion-grid>
      <ion-row>

        <ion-col col-md-6>
          <h2>Registers</h2>
        </ion-col>
        <ion-col col-md-6 class="pull-right">
          <button ion-button color="primary" (click)="addRegister()">Add Register</button>
        </ion-col>

        <ion-col col-md-12 *ngIf="registers && registers.length > 0">
          <ion-list inset *ngFor="let pos of registers ; let idx=index">
            <ion-item-sliding class="sliding">
              <ion-item (click)="showPos(pos)">
                <h2 class="item-title">{{pos.name}}
                  <span class="pull-right">{{pos.status ? 'Opened' : 'Closed'}}</span>
                </h2>
              </ion-item>
              <ion-item-options>
                <button ion-button color='danger' icon=left>
                  <ion-icon name="trash"></ion-icon>
                  Delete
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-col>
        <ion-col col-md-12 *ngIf="posToAdd && posToAdd.length > 0">
          <ion-list inset *ngFor="let pos of posToAdd ; let idx=index">
            <ion-item-sliding class="sliding">
              <ion-item (click)="showPos(pos)">
                <h2 class="item-title">{{pos.name}}
                  <span class="pull-right">Closed</span>
                </h2>
              </ion-item>
              <ion-item-options>
                <button ion-button color='danger' icon=left (click)="removeAddedRegister(idx)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>


</ion-content>