<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Suppliers</ion-title>
    <ion-buttons end>
      <button type="submit" ion-button icon-only (click)="save()" [disabled]="!supplierForm.valid">
        <!-- <button type="submit" ion-button icon-only (click)="supplierForm.ngSubmit.emit()" [disabled]="!supplierForm.form.valid"> -->
        Save
      </button>
      <button *ngIf="action == 'Edit'" ion-button icon-only (click)="remove()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="supplierForm">
    <ion-list-header>Details</ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label class="item-name">Supplier Name*</ion-label>
        <ion-input type="text" [formControl]="name" name="name" required></ion-input>
      </ion-item>
      <ion-item *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required" class="alert alert-danger">
        Name is required
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Supplier Description</ion-label>
        <ion-textarea [formControl]="description" name="description"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-list-header>Contact Information</ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label class="item-name">First name</ion-label>
        <ion-input type="text" [formControl]="firstName" name="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Last name</ion-label>
        <ion-input type="text" [formControl]="lastName" name="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Email</ion-label>
        <ion-input type="email" [formControl]="email" name="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        Invalid email address
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Mobile number</ion-label>
        <ion-input type="text" [formControl]="cellphone" name="cellphone"></ion-input>
      </ion-item>
      <ion-item *ngIf="cellphone.invalid && (cellphone.dirty || cellphone.touched)" class="alert alert-danger">
        Invalid phone number. It should only contain numbers, hiphens and a single + sign
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Telephone number</ion-label>
        <ion-input type="text" [formControl]="telephone" name="telephone"></ion-input>
      </ion-item>
      <ion-item *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="alert alert-danger">
        Invalid phone number. It should only contain numbers, hiphens and a single + sign
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Website</ion-label>
        <ion-input type="text" [formControl]="website" name="website"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list-header>Physical Address</ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label class="item-name">Street</ion-label>
        <ion-textarea [formControl]="phyStreetAddr" name="phyStreetAddr"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Suburb</ion-label>
        <ion-input type="text" [formControl]="phySuburb" name="phySuburb"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">City</ion-label>
        <ion-input type="text" [formControl]="phyCity" name="phyCity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">State</ion-label>
        <ion-input type="text" [formControl]="phyState" name="phyState"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Zip/Postal Code</ion-label>
        <ion-input type="text" [formControl]="phyZipCode" name="phyZipCode"></ion-input>
      </ion-item>
      <ion-item>
        <searchable-ion-select [formControl]="phyCountry" title="Country" valueField="code" textField="name" [items]="countries">
        </searchable-ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>Same as Postal Address ?</ion-label>
      <ion-checkbox (ionChange)="makePostalSametoPhysical($event)" [checked]="postalSameAsPhysical" name="sameAsPhysical"></ion-checkbox>
    </ion-item>

    <div *ngIf="!postalSameAsPhysical">
      <ion-list-header>Postal Address</ion-list-header>
      <ion-list>
        <ion-item>
          <ion-label class="item-name">Street</ion-label>
          <ion-textarea [formControl]="posStreetAddr" name="posStreetAddr"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label class="item-name">Suburb</ion-label>
          <ion-input type="text" [formControl]="posSuburb" name="posSuburb"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="item-name">City</ion-label>
          <ion-input type="text" [formControl]="posCity" name="posCity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="item-name">State</ion-label>
          <ion-input type="text" [formControl]="posState" name="posState"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="item-name">Zip/Postal Code</ion-label>
          <ion-input type="text" [formControl]="posZipCode" name="posZipCode"></ion-input>
        </ion-item>
        <ion-item>
          <searchable-ion-select
            [(ngModel)]="posCountry"
            title="Country"
            valueField="code"
            textField="name"
            [items]="countries">
          </searchable-ion-select>
        </ion-item>
      </ion-list>
    </div>
  </form>
  </ion-content>