<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Product</ion-title>
    <ion-buttons end>
      <button type="submit" ion-button icon-only (click)="productForm.ngSubmit.emit()" [disabled]="!productForm.form.valid">
        Save
      </button>
      <button ion-button icon-only (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge *ngIf="productItem.stockControl">
    <button ion-fab type="button">
      <ion-icon name="albums"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab type="button" (click)="stockUpdate().increase()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab type="button" (click)="stockUpdate().decrease()">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <form (ngSubmit)="saveProducts()" #productForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label class="item-name">Name</ion-label>
        <ion-input type="text" [(ngModel)]="productItem.name" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Barcode</ion-label>
        <ion-input type="text" [(ngModel)]="productItem.barcode" name="barcode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Tags</ion-label>
        <ion-input type="text" [(ngModel)]="productItem.tag" name="tag"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Display Order</ion-label>
        <ion-input type="number" [(ngModel)]="productItem.order" name="order"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Categories</ion-label>
        <ion-select [(ngModel)]="productItem.categoryIDs" multiple="true" name="category">
          <ion-option *ngFor="let item of categories ; let idx=index" value={{item._id}}>{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Brand</ion-label>
        <ion-select [(ngModel)]="productItem.brandId" name="brandId">
          <ion-option *ngFor="let brand of brands ; let idx=index" value={{brand._id}}>{{brand.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Supplier</ion-label>
        <ion-select [(ngModel)]="productItem.supplierId" name="supplierId">
          <ion-option *ngFor="let supplier of suppliers" value={{supplier._id}}>{{supplier.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div class="insert-image">
      <p>
        <ion-label class="item-addImageLabel">Add Image</ion-label>
        <button ion-button icon-only>
          <ion-icon name="camera"></ion-icon>
        </button>
      </p>
    </div>
    <ion-list inset>
      <ion-item>
        <ion-label class="item-name">Employeer</ion-label>
        <ion-input type="text" [(ngModel)]="productItem.employeer" name="employeer"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Variant</ion-label>
        <ion-input type="text" [(ngModel)]="productItem.variant" name="variant"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Description</ion-label>
        <ion-textarea class="item-text" [(ngModel)]="productItem.description" name="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <button ion-button type="button" (click)="selectIcon()">Select Icon</button>
        <span *ngIf="selectedIcon">
          <sp-icon [icon]="productItem.icon.name"></sp-icon>&nbsp;{{ productItem.icon.name }}</span>
      </ion-item>
    </ion-list>
  </form>


  <!-- Default Price Book  -->
  <ion-grid>
    <ion-row>
      <ion-col col-md-12 class="pull-left">
        <h3>Default Price Book</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>Supply price</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.supplyPrice" (change)="calculate('supplyPrice', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>x Markup (%)</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.markup" (change)="calculate('markup', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>= Retail Price (Excl.)</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.retailPrice" (change)="calculate('retailPrice', defaultPriceBook)"
            required></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-3>
        <ion-item item-content>
          <ion-label color="primary" stacked>+ Sales Tax</ion-label>
          <ion-select [(ngModel)]="defaultPriceBook.tax" (ionChange)="calculate('salesTax', defaultPriceBook)">
            <ion-option [value]="tax" *ngFor="let tax of salesTaxes">{{ tax.entityTypeName == 'GroupSaleTax' ? 'Group Tax - ' + tax.name : tax.name }}
              <small>({{ tax.rate }}%)</small>
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>= Retail Price (Incl.)</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.inclusivePrice" (change)="calculate('inclusivePrice', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-md-11 class="pull-left">
        <h2>Enable Stock Control</h2>
      </ion-col>
      <ion-col col-md-1 class="pull-right">
        <ion-toggle [(ngModel)]="productItem.stockControl"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="productItem.stockControl">
    <ion-list *ngFor="let storeStock of storesStock">
      <ion-item-group>
        <ion-item-divider color="dark">{{storeStock.store.name}}</ion-item-divider>
        <ion-item>
          <ion-label class="item-name">Available Stock</ion-label>
          <ion-input type="number" disabled="true" [(ngModel)]="storeStock.value"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="item-name">Supplier</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="item-name">Reorder Point</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="item-name">Reorder Qty</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
  <ion-grid *ngIf="productItem.stockControl">
    <ion-row>
      <ion-col col-md-9 class="pull-left">
        <h2>Stock History</h2>
      </ion-col>
      <ion-col col-md-3 class="pull-right">
        <ion-item>
          <ion-label color="primary" stacked>Select Store</ion-label>
          <ion-select [(ngModel)]="selectedStore">
            <ion-option [value]="storeStock.storeId" *ngFor="let storeStock of storesStock">
              {{storeStock.store.name}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-2><strong>Time & Date</strong></ion-col>
      <ion-col col-md-2><strong>Staff</strong></ion-col>
      <ion-col col-md-2><strong>Action</strong></ion-col>
      <ion-col col-md-2><strong>Qty. Adjusted</strong></ion-col>
      <ion-col col-md-2><strong>Cost Price</strong></ion-col>
      <ion-col col-md-2><strong>Stock at hand</strong></ion-col>
    </ion-row>
    <ion-row *ngFor="let history of stockHistory[selectedStore]">
      <ion-col col-md-2>{{ history.createdAt | localDate:'d MMM YYYY h:mm:ss a' }}</ion-col>
      <ion-col col-md-2>{{ history.createdBy }}</ion-col>
      <ion-col col-md-2>{{ history.reason }}</ion-col>
      <ion-col col-md-2>{{ history.value > 0 ? '+'+history.value : history.value }}</ion-col>
      <ion-col col-md-2>{{ history.supplyPrice }}</ion-col>
      <ion-col col-md-2></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>