<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Employee</ion-title>
    <ion-buttons end>
      <button type="submit" ion-button icon-only (click)="employeeForm.ngSubmit.emit()" [disabled]="!employeeForm.form.valid">
        save
      </button>
      &nbsp;
      <button ion-button icon-only (click)="remove()">
        <ion-icon name="trash"></ion-icon>
      </button>

    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save()" #employeeForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label class="item-name">First Name</ion-label>
        <ion-input type="text" [(ngModel)]="employee.firstName" name="firstName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="employee.lastName" name="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Address</ion-label>
        <ion-input type="text" [(ngModel)]="employee.address" name="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Phone</ion-label>
        <ion-input type="text" [(ngModel)]="employee.phone" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Is Admin</ion-label>
        <ion-checkbox [(ngModel)]="employee.isAdmin" name="isAdmin"></ion-checkbox>
      </ion-item>
      <ion-item>
        <button ion-button type="button" (click)="setPin()" color="{{ !employee.pin ? 'default' : 'primary' }}">{{ !employee.pin ? 'Set PIN' : 'Reset PIN' }}</button>
      </ion-item>
    </ion-list>
  </form>

  <!-- Roles Selectables [start] -->
  <ion-grid *ngIf="!employee.isAdmin">
    <ion-row>
      <ion-col col-md-12>
        <mat-grid-list cols="12" rowHeight="1:1" gutterSize="10px">
          <mat-grid-tile [ngClass]="{ 'store-tile': !store.selected, 'store-tile-selected': store.selected }" *ngFor="let store of stores; let i = index"
            (tap)="selectRoles(store, i)" [colspan]="1" [rowspan]="1" tapabble>
            {{store.name}}
          </mat-grid-tile>
        </mat-grid-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Roles Selectables [end] -->

</ion-content>