@import "../../theme/variables";

.store-tile {
  font-size: 1.4rem;
  background: $tile-background-color;
  display: inline-block;
  vertical-align: top;
  border: 1px solid $tile-hover-background-color;
  border-radius: 8px;
  cursor: pointer;
}

.store-tile-selected {
  font-size: 1.4rem;
  background: $tile-background-color-selected;
  display: inline-block;
  vertical-align: top;
  border: 1px solid $tile-hover-background-color;
  border-radius: 8px;
  cursor: pointer;
  color: $tile-background-color;
}