<ion-header>
  <ion-navbar>
    <ion-title class="ion-title-center">{{action}} Sales Tax</ion-title>
    <ion-buttons end>
      <button *ngIf="tax._id != 'no_sales_tax'" ion-button icon-only (click)="upsert()">
        save
      </button>
      <button *ngIf="tax._id != 'no_sales_tax' && !isNew" ion-button icon-only (click)="remove()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list inset>
    <ion-item>
      <ion-label class="item-name">Name</ion-label>
      <ion-input type="text" [(ngModel)]="tax.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Rate %</ion-label>
      <ion-input type="number" min="0" [(ngModel)]="tax.rate"></ion-input>
    </ion-item>
  </ion-list>
</ion-content> 
 