<ion-header>
  <ion-navbar [hideBackButton]="!selectedSupplier && !selectedStore">
    <ion-title>Select Supplier and Store</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngIf="suppliers.length <= 0" item-content>
      <button ion-button small (click)="addSupplier()">+ Add Supplier</button>
    </ion-item>
    <ion-item *ngIf="suppliers.length > 0">
      <ion-label color="primary">Select Supplier</ion-label>
      <ion-select [(ngModel)]="selectedSupplier">
        <ion-option [value]="supplier" *ngFor="let supplier of suppliers">{{ supplier.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Select Store</ion-label>
      <ion-select [(ngModel)]="selectedStore">
        <ion-option [value]="store" *ngFor="let store of stores">{{ store.name }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>