@import '../../theme/variables';
.full-height {
  height: 100%
}

.no-margin {
  margin: 0;
}

.sales-category {
  background-color: $tile-background-color;
  button {
    text-align: center;
    color: $sales-category-tile-btn-color;
    background-color: $tile-background-color;
    ion-label {
      white-space: normal;
    }
    .category-icon {
      padding-bottom: 10px;
      display: block;
    }
  }
  .activeCategory {
    color: color($colors, dark);
    background-color: $list-background-color;
    .category-icon {
      color: color($colors, dark);
    }
  }
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.basket-component {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $basket-background-color;
}

ion-scroll {
  white-space: nowrap;
  height: 150px;
}

ion-scroll.category-scroll {
  height:100%;
}

img {
  margin: 10px;
}