<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="leftMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="ion-title-center">Open/Close Register</ion-title>
    <button ion-button menuToggle="rightMenu" end>
      <ion-icon name="cog"></ion-icon>
    </button>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="!pos.status">
    <!-- If Register is closed -->
    <ion-row>
      <ion-col col-md-6 offset-md-3>
        <form (ngSubmit)="onSubmit()" #salesForm="ngForm">
          <h2 text-center>Register Closed</h2>
          <h5 text-center>Set an opening float to open the register and make sale</h5>

          <ion-label stacked>Opening Float</ion-label>
          <ion-input type="number" min="0" placeholder="$0.00" [(ngModel)]="openingPos.amount" name="openingAmount" required></ion-input>

          <ion-label color="primary" stacked>Notes
            <small>optional</small>
          </ion-label>
          <ion-textarea placeholder="Enter Note" [(ngModel)]="openingPos.notes" name="openingNote">
          </ion-textarea>

          <button ion-button color="primary" [disabled]="!salesForm.form.valid" block type="submit">
            Open Register
          </button>
        </form>
      </ion-col>
      <ion-col col-md-3></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!pos.status && showReport">
    <ion-row>
      <ion-col col-md-12>
        <h1>Last Register Close Summary</h1>
      </ion-col>
      <ion-col col-md-12>
        <h3>Register Details</h3>
      </ion-col>
      <ion-col col-md-12>
        <hr/>
      </ion-col>

      <ion-col col-md-3>
        <p>
          <small>Outlet</small>
        </p>
        <p>
          <strong>{{ store.name }}</strong>
        </p>
      </ion-col>
      <ion-col col-md-3>
        <p>
          <small>Register</small>
        </p>
        <p>
          <strong>{{ pos.name }}</strong>
        </p>
      </ion-col>
      <ion-col col-md-6>
        <p>
          <small>Opening Time</small>
        </p>
        <p>
          <strong>{{ pos.openTime | localDate:'MMM d, YY, h:mm:ss a' }}</strong>
        </p>
      </ion-col>
      <ion-col col-md-12>
        <p>
          <small>Closing Time</small>
        </p>
        <p>
          <strong>{{ closure.openTime | localDate:'MMM d, YY, h:mm:ss a' }}</strong>
        </p>
      </ion-col>

      <ion-col col-md-12>

        <ion-grid>
          <ion-row>
            <ion-col col-md-6>Payment Types</ion-col>
            <ion-col col-md-2>Expected($)</ion-col>
            <ion-col col-md-2>Counted($)</ion-col>
            <ion-col col-md-2>Differences($)</ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-md-12 class="sub-drawer">
              <ion-grid>
                <ion-row>
                  <ion-col col-md-4>
                    <strong>Cash Movements</strong>
                  </ion-col>
                  <ion-col col-md-2>
                    <strong>Time</strong>
                  </ion-col>
                  <ion-col col-md-2>
                    <strong>User</strong>
                  </ion-col>
                  <ion-col col-md-2>
                    <strong>Amount($)</strong>
                  </ion-col>
                  <ion-col col-md-2>
                    <strong>Reason</strong>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-md-2 offset-md-4>{{ pos.openTime | localDate:'h:mm a' }}</ion-col>
                  <ion-col col-md-2>-</ion-col>
                  <ion-col col-md-2>{{ pos.openingAmount }}</ion-col>
                  <ion-col col-md-2>Opening Float</ion-col>
                </ion-row>
                <ion-row *ngFor="let cash of pos.cashMovements">
                  <ion-col col-md-2 offset-md-4>{{ cash.datetime | localDate:'h:mm a' }}</ion-col>
                  <ion-col col-md-2>-</ion-col>
                  <ion-col col-md-2>{{ cash.amount }}</ion-col>
                  <ion-col col-md-2>{{ reason[cash.type].text }}</ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col col-md-4>
                    <strong>Cash Makings</strong>
                  </ion-col>
                  <ion-col col-md-2>-</ion-col>
                  <ion-col col-md-2>-</ion-col>
                  <ion-col col-md-2>{{ closure.totalCashMaking | number : '1.2-2' }}</ion-col>
                  <ion-col col-md-2>-</ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-md-6>Cash
              <small>View Cash Payments, Floats and Movements</small>
            </ion-col>
            <ion-col col-md-2>{{ expected.cash | number : '1.2-2' }}</ion-col>
            <ion-col col-md-2>{{closure.cashCounted}}</ion-col>
            <ion-col col-md-2 [ngClass]="closure.cashDifference > 0 ? 'error-text' : ''">{{closure.cashDifference * -1 | number : '1.2-2' }}</ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-md-6>Cash Rounding</ion-col>
            <ion-col col-md-2>0.00</ion-col>
            <ion-col col-md-2>0.00</ion-col>
            <ion-col col-md-2>0.00</ion-col>

            <ion-col col-md-6>Credit Card</ion-col>
            <ion-col col-md-2>{{expected.cc | number : '1.2-2' }}</ion-col>
            <ion-col col-md-2>{{closure.ccCounted | number : '1.2-2' }}</ion-col>
            <ion-col col-md-2 [ngClass]="closure.ccDifference > 0 ? 'error-text' : ''">{{closure.ccDifference * -1 | number : '1.2-2' }}</ion-col>

            <ion-col col-md-6>Store Credit</ion-col>
            <ion-col col-md-2>0.00</ion-col>
            <ion-col col-md-2>0.00</ion-col>
            <ion-col col-md-2>0.00</ion-col>

            <ion-col col-md-12>
              <hr/>
            </ion-col>

            <ion-col col-md-6>Totals</ion-col>
            <ion-col col-md-2>{{expected.total | number : '1.2-2' }}</ion-col>
            <ion-col col-md-2>{{closure.totalCounted | number : '1.2-2' }}</ion-col>
            <ion-col col-md-2 [ngClass]="closure.totalDifference > 0 ? 'error-text' : ''">{{closure.totalDifference * -1 | number : '1.2-2' }}</ion-col>

            <ion-col col-md-12>
              <p>{{closure.note}}</p>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="pos.status">
    <!-- If Register is Opened -->
    <ion-row>
      <ion-col col-md-3>
        <p>
          <small>Outlet</small>
        </p>
        <p>
          <strong>{{ store.name }}</strong>
        </p>
      </ion-col>
      <ion-col col-md-3>
        <p>
          <small>Register</small>
        </p>
        <p>
          <strong>{{ pos.name }}</strong>
        </p>
      </ion-col>
      <ion-col col-md-6>
        <p>
          <small>Opening Time</small>
        </p>
        <p>
          <strong>{{ pos.openTime | localDate:'MMM d, y, h:mm:ss a' }}</strong>
        </p>
      </ion-col>

      <ion-col col-md-12>

        <ion-grid>
          <ion-row>
            <ion-col col-md-6>Payment Types</ion-col>
            <ion-col col-md-2>Expected($)</ion-col>
            <ion-col col-md-2>Counted($)</ion-col>
            <ion-col col-md-2>Differences($)</ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-md-12 class="sub-drawer">
              <ion-grid>
                <ion-row>
                  <ion-col col-md-4>
                    <strong>Cash Movements</strong>
                  </ion-col>
                  <ion-col col-md-2>
                    <strong>Time</strong>
                  </ion-col>
                  <ion-col col-md-2>
                    <strong>User</strong>
                  </ion-col>
                  <ion-col col-md-2>
                    <strong>Amount($)</strong>
                  </ion-col>
                  <ion-col col-md-2>
                    <strong>Reason</strong>
                  </ion-col>

                  <ion-col col-md-2 offset-md-4>{{ pos.openTime | localDate:'h:mm a' }}</ion-col>
                  <ion-col col-md-2>-</ion-col>
                  <ion-col col-md-2>{{ pos.openingAmount }}</ion-col>
                  <ion-col col-md-2>Opening Float</ion-col>
                </ion-row>
                <ion-row *ngFor="let cash of pos.cashMovements">
                  <ion-col col-md-2 offset-md-4>{{ cash.datetime | localDate:'h:mm a' }}</ion-col>
                  <ion-col col-md-2>-</ion-col>
                  <ion-col col-md-2>{{ cash.amount }}</ion-col>
                  <ion-col col-md-2>{{ reason[cash.type].text }}</ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col col-md-4>
                    <strong>Cash Makings</strong>
                  </ion-col>
                  <ion-col col-md-2>-</ion-col>
                  <ion-col col-md-2>-</ion-col>
                  <ion-col col-md-2>{{ closure.totalCashMaking | number : '1.2-2' }}</ion-col>
                  <ion-col col-md-2>-</ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-md-6>Cash
              <small>View Cash Payments, Floats and Movements</small>
            </ion-col>
            <ion-col col-md-2>{{ expected.cash | number : '1.2-2' }}</ion-col>
            <ion-col col-md-2>
              <ion-input type="number" autofocus (change)="calculateDiff('cash')" [(ngModel)]="closure.cashCounted" name="cashCounted"></ion-input>
            </ion-col>
            <ion-col col-md-2 [ngClass]="closure.cashDifference > 0 ? 'error-text' : ''">{{closure.cashDifference * -1 | number : '1.2-2'}}</ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-md-6>Cash Rounding</ion-col>
            <ion-col col-md-2>0.00</ion-col>
            <ion-col col-md-2>0.00</ion-col>
            <ion-col col-md-2>0.00</ion-col>

            <ion-col col-md-6>Credit Card</ion-col>
            <ion-col col-md-2>{{expected.cc | number : '1.2-2'}}</ion-col>
            <ion-col col-md-2>
              <ion-input type="number" (change)="calculateDiff('cc')" [(ngModel)]="closure.ccCounted" name="ccCounted"></ion-input>
            </ion-col>
            <ion-col col-md-2 [ngClass]="closure.ccDifference > 0 ? 'error-text' : ''">{{closure.ccDifference * -1 | number : '1.2-2'}}</ion-col>

            <ion-col col-md-6>Store Credit</ion-col>
            <ion-col col-md-2>0.00</ion-col>
            <ion-col col-md-2>0.00</ion-col>
            <ion-col col-md-2>0.00</ion-col>

            <ion-col col-md-12>
              <hr/>
            </ion-col>

            <ion-col col-md-6>Totals</ion-col>
            <ion-col col-md-2>{{expected.total | number : '1.2-2'}}</ion-col>
            <ion-col col-md-2>{{closure.totalCounted}}</ion-col>
            <ion-col col-md-2 [ngClass]="closure.totalDifference > 0 ? 'error-text' : ''">{{closure.totalDifference * -1 | number : '1.2-2'}}</ion-col>

            <ion-col col-md-12>
              <ion-textarea placeholder="Type to add a register closure note" [(ngModel)]="closure.note"></ion-textarea>
            </ion-col>

            <ion-col col-md-12>
              <button ion-button color="primary" (click)="closeRegister()" [disabled]="closure.cashCounted < 0 && closure.ccCounted < 0"
                block>Close Register</button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>