<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="leftMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end network-monitor></ion-buttons>
    <ion-title class="ion-title-center">Sales History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-md-4 class="customer-search-container">
        <p>Customer</p>
        <ion-searchbar (ionInput)="searchForCustomer($event)" [cancelButtonText]="cancelButtonText" (ionCancel)="resetCustomerSearch($event)"
          showCancelButton="true" [(ngModel)]="customerSearch" [debounce]="500" [animated]="true"></ion-searchbar>
        <ion-list class="customer-search-list" *ngIf="customerSearch && searchedCustomers.length > 0">
          <ion-item *ngFor="let item of searchedCustomers" (click)="searchByCustomer(item)" tappable>
            {{ item.firstName }} {{ item.lastName }}
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-md-4>
        <p>Receipt No#</p>
        <ion-searchbar (ionInput)="searchBy($event, 'receiptNo')" [debounce]="500" [animated]="true"></ion-searchbar>
      </ion-col>
      <ion-col col-md-4>
        <p>Employee</p>
        <ion-searchbar (ionInput)="searchbar($event).searchEmployees()" [cancelButtonText]="cancelButtonText" (ionCancel)="resetEmployeeSearch($event)"
          showCancelButton="true" [(ngModel)]="employeeSearch" debounce="500" animated="true"></ion-searchbar>
        <ion-list class="customer-search-list" *ngIf="employeeSearch && searchedEmployees.length > 0">
          <ion-item *ngFor="let item of searchedEmployees" (click)="searchByEmployee(item)" tappable>
            {{ item.firstName }} {{ item.lastName }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-4>
        <p>Status</p>
        <ion-select [(ngModel)]="selectedStatus" (ionChange)="searchByStatus()">
          <ion-option *ngFor="let status of statusList" [value]="status.value">{{ status.text }}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-md-4>
        <p>Time</p>
        <ion-select [(ngModel)]="selectedTime" (ionChange)="searchByTime()">
          <ion-option value="1">Anytime</ion-option>
          <ion-option value="2">Today</ion-option>
          <ion-option value="3">This Week (Mon-Sun)</ion-option>
          <ion-option value="4">This Month</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-md-4>
        <p>Payment Type</p>
        <ion-select [(ngModel)]="selectedPaymentType" (ionChange)="searchByPaymentType()">
          <ion-option value="">All</ion-option>
          <ion-option value="cash">Cash</ion-option>
          <ion-option value="credit_card">Credit Card</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-md-2>
            <strong>Date</strong>
          </ion-col>
          <ion-col col-md-1>
            <strong>Receipt</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Sold by</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Customer</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Note</strong>
          </ion-col>
          <ion-col col-md-1>
            <strong>Sale Total</strong>
          </ion-col>
          <ion-col col-md-1>
            <strong>Status</strong>
          </ion-col>
          <ion-col col-md-1></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="sales.length > 0">
    <ion-item *ngFor="let sale of sales; let $index = index" [ngClass]="{active: isItemShown(sale._id)}">
      <ion-grid>
        <ion-row (click)="toggleItem(sale)">
          <ion-col col-md-2>{{sale.created | localDate:'DD/M/YY, h:mm a'}}</ion-col>
          <ion-col col-md-1>{{sale.receiptNo}}</ion-col>
          <ion-col col-md-2>-</ion-col>
          <ion-col col-md-2 *ngIf="sale.customer">{{sale.customer.firstName}} {{sale.customer.lastName}}</ion-col>
          <ion-col col-md-2 *ngIf="!sale.customer">-</ion-col>
          <ion-col col-md-2>{{sale.notes}}</ion-col>
          <ion-col col-md-1>${{sale.taxTotal}}</ion-col>
          <ion-col col-md-1>
            <strong>{{getState(sale)}}</strong>
          </ion-col>
          <ion-col col-md-1 class="clickable">
            <ion-icon name="print" text-center *ngIf="sale.state == 'completed'" (click)="printSale(sale)"></ion-icon>
            <ion-icon name="refresh" text-center *ngIf="sale.state == 'completed'" (click)="gotoSales(sale, true, $index)"></ion-icon>
            <ion-icon name="share-alt" text-center *ngIf="sale.state == 'parked'" (click)="gotoSales(sale, false, $index)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="isItemShown(sale._id)">
        <hr/>
        <ion-grid *ngIf="!sale.completed">
          <ion-row>
            <ion-col col-md-10>
              <ion-grid>
                <ion-row *ngFor="let item of sale.items">
                  <ion-col col-md-5>
                    {{item.quantity}}&nbsp;&nbsp;{{item.name}}
                  </ion-col>
                  <ion-col col-md-5>
                    @ ${{item.systemPrice}}
                  </ion-col>
                  <ion-col col-md-2>
                    ${{item.finalPrice}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-md-2>
              <ion-item *ngIf="sale.state === 'parked'" class="clickable" (click)="gotoSales(sale, false, $index)">
                <ion-icon name="share-alt"></ion-icon> Continue Sale
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-md-4>Note</ion-col>
            <ion-col col-md-4>
              SubTotal
              <br/> Total Tax (No Tax)
            </ion-col>
            <ion-col col-md-4>
              ${{sale.taxTotal}}
              <br/> $0.00
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngIf="sale.completed">
          <ion-row>
            <ion-col col-md-10>
              <ion-grid>
                <ion-row *ngFor="let item of sale.items">
                  <ion-col col-md-5>
                    {{item.quantity}}&nbsp;&nbsp;{{item.name}}
                  </ion-col>
                  <ion-col col-md-5>
                    @ ${{item.systemPrice}}
                  </ion-col>
                  <ion-col col-md-2>
                    ${{item.finalPrice}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-md-2>
              <ion-item *ngIf="sale.state === 'completed'" class="clickable" (click)="gotoSales(sale, true, $index)">
                <ion-icon name="refresh"></ion-icon> Return Items
              </ion-item>
              <ion-item *ngIf="sale.state === 'completed'" class="clickable" (click)="printSale(sale)">
                <ion-icon name="print"></ion-icon> Print Sale
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-md-4>Note</ion-col>
            <ion-col col-md-4>
              SubTotal
              <br/> Total Tax (No Tax)
            </ion-col>
            <ion-col col-md-4>
              ${{sale.taxTotal}}
              <br/> $0.00
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="fetchMoreSales($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>