p<ion-header>
  <ion-navbar>
    <ion-title>{{ currentSettings.title }}</ion-title>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Unprocessed (Create) Order - START -->
      <ion-col col-md-8 *ngIf="currentSettings.type == 'unprocessed'">
        <div *ngIf="orderedProducts.length <= 0">
          <p class="center-message">You haven't added any products to your order yet</p>
          <ion-row>
            <ion-col col-md-6 offset-md-3>
              <button ion-button block color="primary" [disabled]="disableAddProductsBtn" (click)="addProducts()">+ Add Products</button>
            </ion-col>
            <ion-col col-md-3></ion-col>
          </ion-row>
        </div>
        <div *ngIf="orderedProducts.length > 0">
          <ion-list>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col col-md-4>
                    <strong>Product</strong>
                  </ion-col>
                  <ion-col col-md-2>
                    <strong>Order Qty.</strong>
                  </ion-col>
                  <ion-col col-md-2>
                    <strong>Supply Price ($)</strong>
                  </ion-col>
                  <ion-col col-md-2>
                    <strong>Total Cost ($)</strong>
                  </ion-col>
                  <ion-col col-md-2></ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item *ngFor="let product of orderedProducts; let i = index;">
              <ion-grid>
                <ion-row>
                  <ion-col col-md-4>{{ product.product.name }}</ion-col>
                  <ion-col col-md-2>
                    <ion-item item-content>
                      <ion-input type="number" min="1" [(ngModel)]="product.quantity" (ionChange)="calculateTotal()"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-md-2>
                    <ion-item item-content>
                      <ion-input type="number" min="1" [(ngModel)]="product.price" (ionChange)="calculateTotal()"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-md-2>${{ product.quantity * product.price | number : '1.2-2' }}</ion-col>
                  <ion-col col-md-2>
                    <ion-icon tappable name="trash" (click)="removeProduct(i)"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
          <ion-row>
            <ion-col col-md-6 offset-md-3>
              <button ion-button block color="primary" [disabled]="disableAddProductsBtn" (click)="addProducts()">+ Add Products</button>
            </ion-col>
            <ion-col col-md-3></ion-col>
          </ion-row>
        </div>
      </ion-col>
      <!-- Unprocessed (Create) Order - END -->

      <!-- Placed Order - START -->
      <ion-col col-md-8 *ngIf="currentSettings.type == 'ordered'">
        <ion-row>
          <ion-col col-md-12>
            <h4>Stock Ordered</h4>
            <h5>{{ store.name }}</h5>
            <h5>Ordered placed on {{ order.createdAt | localDate:'MMM d, YYYY, h:mm a' }}</h5>
          </ion-col>
          <ion-col col-md-12>
            <button ion-button>Email Order</button>
            <button ion-button>Download PDF</button>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col col-md-5>
                  <strong>Product</strong>
                </ion-col>
                <ion-col col-md-3>
                  <strong>Order Qty.</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Supply Price ($)</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Total Cost ($)</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item *ngFor="let product of orderedProducts; let i = index;">
            <ion-grid>
              <ion-row>
                <ion-col col-md-5>{{ product.product.name }}</ion-col>
                <ion-col col-md-3>{{ product.quantity }}</ion-col>
                <ion-col col-md-2>${{ product.price | number : '1.2-2' }}</ion-col>
                <ion-col col-md-2>${{ product.quantity * product.price | number : '1.2-2' }}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- Placed Order - END -->

      <!-- Cancelled Order - START -->
      <ion-col col-md-8 *ngIf="currentSettings.type == 'cancelled'">
        <ion-row>
          <ion-col col-md-12>
            <h4>Order Cancelled</h4>
            <h5>{{ store.name }}</h5>
            <h5>No stock received. Order cancelled on {{ order.cancelledAt | localDate:'MMM d, YYYY, h:mm a' }}</h5>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col col-md-5>
                  <strong>Product</strong>
                </ion-col>
                <ion-col col-md-3>
                  <strong>Order Qty.</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Supply Price ($)</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Total Cost ($)</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item *ngFor="let product of orderedProducts; let i = index;">
            <ion-grid>
              <ion-row>
                <ion-col col-md-5>{{ product.product.name }}</ion-col>
                <ion-col col-md-3>{{ product.quantity }}</ion-col>
                <ion-col col-md-2>${{ product.price | number : '1.2-2' }}</ion-col>
                <ion-col col-md-2>${{ product.quantity * product.price | number : '1.2-2' }}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- Cancelled Order - END -->

      <!-- Confirm Order - START -->
      <ion-col col-md-8 *ngIf="currentSettings.type == 'receive'">
        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col col-md-4>
                  <strong>Product</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Order Qty.</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Received Qty.</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Supply Price ($)</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Total Cost ($)</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item *ngFor="let product of orderedProducts; let i = index;">
            <ion-grid>
              <ion-row>
                <ion-col col-md-4>{{ product.product.name }}</ion-col>
                <ion-col col-md-2>{{ product.quantity }}</ion-col>
                <ion-col col-md-2>
                  <ion-item item-content>
                    <ion-input type="number" min="1" [(ngModel)]="product.receivedQty" (ionChange)="calculateTotal()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-md-2>
                  <ion-item item-content>
                    <ion-input type="number" min="1" [(ngModel)]="product.receivedPrice" (ionChange)="calculateTotal()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-md-2>${{ product.receivedQty * product.receivedPrice | number : '1.2-2' }}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- Confirm Order - END -->

      <!-- Received/Completed Order - START -->
      <ion-col col-md-8 *ngIf="currentSettings.type == 'received'">
        <ion-row>
          <ion-col col-md-12>
            <h4>Order Received</h4>
            <h5>{{ store.name }}</h5>
            <h5>Order received on {{ order.receivedAt | localDate:'MMM d, YYYY, h:mm a' }}</h5>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col col-md-4>
                  <strong>Product</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Ordered Qty.</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Received Qty.</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Received Price</strong>
                </ion-col>
                <ion-col col-md-2>
                  <strong>Total Cost ($)</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-list>
            <ion-item *ngFor="let product of orderedProducts; let i = index;">
              <ion-grid>
                <ion-row>
                  <ion-col col-md-4>{{ product.product.name }}</ion-col>
                  <ion-col col-md-2>{{ product.quantity }}</ion-col>
                  <ion-col col-md-2>{{ product.receivedQty }}</ion-col>
                  <ion-col col-md-2>{{ product.receivedPrice | number : '1.2-2' }}</ion-col>
                  <ion-col col-md-2>${{ product.receivedQty * product.receivedPrice | number : '1.2-2' }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
      </ion-col>
      <!-- Received/Completed Order - END -->

      <ion-col col-md-4>
        <ion-card *ngIf="supplier && store">
          <ion-card-header>
            <h3>{{ supplier.name }}</h3>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col text-left>
                <h4>Deliver To</h4>
              </ion-col>
              <ion-col text-right *ngIf="currentSettings.type == 'ordered'">
                <button ion-button small color="danger" (click)="cancelOrder()">Cancel Order</button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-md-12>
                <h4>{{ store.name }}</h4>
              </ion-col>
              <ion-col col-md-12>
                <strong>{{ store.street }}</strong>
              </ion-col>
              <ion-col col-md-12>
                <strong>{{ store.suburb }}</strong>
              </ion-col>
              <ion-col col-md-12>
                <strong>{{ store.city }}</strong>
              </ion-col>
              <ion-col col-md-12>
                <strong>{{ store.state }}, {{ store.country }}, {{ store.postCode }}</strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-left>
                Order Total
              </ion-col>
              <ion-col text-right>
                ${{ totalCost | number : '1.2-2' }}
              </ion-col>
            </ion-row>
            <button [disabled]="orderedProducts.length <= 0" ion-button full (click)="currentSettings.btnFunc()">{{currentSettings.btnText}}</button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>